<h1 style="margin-top: 30px;">Web Server Node Js <%= nama %></h1>
<h2>Welcome to my App</h2>
<h5>List Contact :</h5>
<% if(cont.length<1){ %> 
    <p>Contact data is empty</p>
    <% }else{ %> 


        
        <div class="d-grid gap-3 border-success" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        
                    </tr>
                </thead>
                <tbody>
            <% cont.forEach(c => { %>
          <tr>
            <td><%= c.name %></td>
            <td><%= c.email %></td>
          </tr>
          <% }) %>
          
        </tbody>
      </table>
<% } %> 